.input-field-wrapper {
    &__icon {
        position: absolute;
        top: .8rem;
        left: .8rem;
    }
    &__label {
        display: block;
    }
    &__field {
        position: relative;
    }
    &__error {
        min-height: 1.5rem;
    }
}